<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:gray">

  <div align="center">
  <ion-slides style="width:100%;height: 200px;border-radius:12px 12px;padding-right:10px;padding-left:10px;padding-top:10px" autoplay>
    <ion-slide *ngFor="let slide of slides" style="background-color: green;border-radius:12px 12px;">
      <h2>{{slide.title}}</h2>
    </ion-slide>
  </ion-slides>
</div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let post of posts, let i = index" col-6>
       <ion-card [class.highlight]=" i === selected" class="change-color" (click)="addEvent(i, post.name)" style="border-radius:12px 12px; background-color:white">
      <div align="center">
        <img src="{{post.image}}" style="width: 54%;padding-top: 18px;"/>
        <p style="padding-top: 11px;padding-bottom: 10px;"><b>{{post.name}}</b></p>
      </div>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    <div class="popup-menu">
      <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
      <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div>
      <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
        <div class="popup-menu-item" (click)="goToCups()">
          <ion-icon name="ios-mail-outline"></ion-icon>
          <span>Mail</span>
        </div>
        <div class="popup-menu-item" (click)="goToLeaderboard()">
            <ion-icon name="ios-call-outline"></ion-icon>
          <span>Contact</span>
        </div>
        <div class="popup-menu-item" (click)="goToHelp()">
          <ion-icon name="md-settings"></ion-icon>
          <span>Settings</span>
        </div>
      </div>
    </div>

  </ion-content>
